<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{fragmentos/cabecalho}"></th:block>
<title>Editar Estudante</title>
<style>
.mensagem {
	color: red;
}
</style>

</head>
<body>

	<div class="container">
		<div class="row" style="padding: 30px 0 30px 0;">
			<div class="col">
				<a th:href="@{/}" class="btn btn-secondary">Início</a>
			</div>
		</div>
		<div class="row" style="padding-top: 30px;">
			<div class="col">
				<h2 class="mb-4">Editar estudante</h2>
				<div class="alert alert-success alert-dismissible fade show"
					th:if="${mensagem}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span th:text="${mensagem}"></span>
				</div>
				<form th:action="@{/editar/{id}(id=${objetoEstudante.id})}" th:object="${objetoEstudante}" method="post">

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Nome:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{nome}">						
							<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}"></span>						
						</div>						
					</div>

					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Idade:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{idade}">
							<span class="mensagem" th:if="${#fields.hasErrors('idade')}"
								th:errors="*{idade}"></span>
						</div>
					</div>

					<input class="btn btn-primary" type="submit" value="Gravar" />
				</form>
			</div>
		</div>
	</div>
</body>
</html>